<nav class="bg-dark text-light d-flex justify-content-end p-3 pr-5">
  <div class="w-25 d-flex justify-content-between">
    <a class="text-light" href='/'>Upload</a>
    <a class="text-light" href='/browse'>Images</a>
    <a class="text-light" href='/browseMemes'>Memes</a>
  </div>
</nav>

<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>