<nav class="bg-dark text-light d-flex justify-content-end p-3 pr-5">
  <div class="w-25 d-flex justify-content-between">
    <a class="text-light" href='/'>Upload</a>
    <a class="text-light" href='/browse'>Images</a>
    <a class="text-light" href='/browseMemes'>Memes</a>
  </div>
</nav>
<div class="container pt-4 p-auto text-center">
  <h1>This is the memes page</h1>
  {{#if memes}}
  <div class="d-flex flex-wrap justify-content-center">
    {{#each memes}}
    <div class="border border-success m-2 d-flex flex-column">
      <div class="bg-dark text-light text-center">
        <p class="font-weight-bold m-0 p-3">
          {{ originalname }}
        </p>
      </div>
      <div class="">
        <img src="/upload/meme/{{filename}}" alt="{{filename}}" />
      </div>
    </div>

    {{/each}}
  </div>
  {{/if}}
</div>