<nav class="bg-dark text-light d-flex justify-content-end p-3 pr-5">
  <div class="w-25 d-flex justify-content-between">
    <a href='/'>Upload</a>
    <a href='/browse'>Images</a>
    <a href='/browseMemes'>Memes</a>
  </div>
</nav>
<div class="container pt-4">
  <h1>This is the meme's page</h1>
  <a href="/">Back to Home Page</a>
</div>